name: Run MATLAB Tests on GitHub-Hosted Runner
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  my-job:
    name: Run MATLAB Tests and Generate Artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Get Photon Attenuation Package
        run: wget https://uk.mathworks.com/matlabcentral/mlc-downloads/downloads/submissions/12092/versions/7/download/zip/PhotonAttenuation.zip
      - name: Retrieve necessary file
        run: unzip PhotonAttenuation.zip PhotonAttenuationQ.m -d src/
      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          products: image_toolbox
      - name: Run tests and generate artifacts
        uses: matlab-actions/run-tests@v2
        with:
          logging-level: verbose
          select-by-folder: tests
          test-results-junit: test-results/results.xml
          code-coverage-cobertura: code-coverage/coverage.xml
      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: code-coverage/coverage.xml
          badge: true
          fail_below_min: true
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '80 90'
